.navbar {
  background: var(--primary);
  padding: 20px;
  color: var(--textColorLight);
}
.navbar nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 1.5em;
}
.navbar a.brand {
  margin-right: auto;
  color: var(--textColorLight);
  text-decoration: none;
}