@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* Variables */
.App {
  --backgroundColorApp: #dfdfdf;
  --backgroundColorCard: #fff;
  --textColorDark: #333;
  --textColorDarkSoft: #757575;
  --textColorLight: #fff;
  --borderColor: #d4d4d4;
}
.App.dark {
  --textColorDark: #fff;
  --textColorDarkSoft: #8996A3;
  --textColorLight: #fff;
  --borderColor: #d4d4d4;
}
.App.color-prime1 {
  --primary: #0074E8;
}
.App.color-prime2 {
  --primary: #58249c;
}
.App.color-prime3 {
  --primary: #008080;
}
.App.color-prime1.dark {
  --primary: #0074E8;
  --backgroundColorApp: #0A1929;
  --backgroundColorCard: #001E3C;
}
.App.color-prime2.dark {
  --primary: #58249c;
  --backgroundColorApp: #1d1724;
  --backgroundColorCard: #382650;
}
.App.color-prime3.dark {
  --primary: #008080;
  --backgroundColorApp: #0a2829;
  --backgroundColorCard: #003c3c;
}

.App {
  font-family: Raleway, sans-serif;
  min-height: 100%;
  font-size: 1.2em;
  background-color: var(--backgroundColorApp);
  color: var(--textColorDark);
}
h1,
h2,
h3,
p {
  margin: 0;
}
input,
textarea {
  color: var(--textColorDark);
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid var(--borderColor);
  background-color: var(--backgroundColorCard);
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  outline: none !important;
}
input:focus-visible,
textarea:focus-visible {
  border-color: var(--primary) !important;
}

.loading,
.error {
  text-align: center;
  margin: 40px auto;
}

/* Styled button and links */
.stl_button {
  font-size: 1em;
  letter-spacing: 0.1em;
  color: var(--textColorLight);
  background: var(--primary);
  text-decoration: none;
  padding: 0.5em 1em;
  border: 1px solid var(--primary);
  border-radius: 8px;
  text-align: center;
  width: fit-content;
  font-weight: 600;
  transition: all ease-in 0.3s;
}
.stl_button--compact {
  padding: 0.25em .5em;
}
.stl_button--circle {
  border-radius: 50%;
}
.stl_button:focus-visible {
  outline: 2px solid var(--textColorLight);
  outline-offset: -2px;
}
.stl_button--outline-primary:focus-visible {
  outline-color: var(--primary);
}
.stl_button:hover,
.stl_button--outline:hover {
  cursor: pointer;
}
.stl_button:hover {
  background: var(--backgroundColorApp);
  color: var(--primary);
  border-color: var(--textColorLight);
}
.stl_button--outline {
  background: transparent;
  border: 1px solid var(--textColorDark);
  color: var(--textColorDark)
}
.stl_button--outline:hover {
  background: var(--primary);
  color: var(--textColorDark);
}
.stl_button--outline-primary {
  color: var(--textColorLight);
  background: transparent;
  border: 1px solid var(--textColorLight);
}
.stl_button--outline-primary:hover {
  background: var(--backgroundColorCard);
  color: var(--primary);
  border-color: var(--primary);
}

/* Card */
.card {
  position: relative;
  background-color: var(--backgroundColorCard);
  padding: 1.5em;
  display: flex;
  flex-flow: column wrap;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.card-options {
  position: absolute;
  right: 1.5em;
}
.card .card-title {
  margin: 40px auto;
}
.card .details-text {
  color: var(--textColorDarkSoft);
  font-weight: 300;
}

.card .description {
  line-height: 1.4em;
}

.card .action-button {
  align-self: center;
  margin-top: auto;
}

/* A wrapper class for any content so they all have the same width and margin */
.content-wrapper {
  max-width: 1200px;
  margin: 60px auto;
}
@media screen and (max-width: 1200px) {
  .content-wrapper {
    margin: 40px auto;
    max-width: 800px;
  }
}
@media screen and (max-width: 800px) {
  .content-wrapper {
    margin: 40px 20px;
  }
}
